.wrapper {
    display: flex;
    flex-direction: column;
    background: #FFC93C;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100%;
}